stages:
  - build

variables:
  FRONT: $CI_REGISTRY/$CI_PROJECT_PATH/frontend
  BACK: $CI_REGISTRY/$CI_PROJECT_PATH/backend

build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $FRONT:$CI_COMMIT_SHORT_SHA -t $FRONT:latest ./frontend
    - docker build -t $BACK:$CI_COMMIT_SHORT_SHA -t $BACK:latest ./backend
    - docker push $FRONT:$CI_COMMIT_SHORT_SHA
    - docker push $FRONT:latest
    - docker push $BACK:$CI_COMMIT_SHORT_SHA
    - docker push $BACK:latest
  only:
    - main
