stages:
  - build
  - push

variables:
  REGISTRY: $CI_REGISTRY
  TAG: $CI_COMMIT_SHORT_SHA

build:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  script:
    - docker build -t $REGISTRY/$CI_PROJECT_PATH/frontend:$TAG ./frontend
    - docker build -t $REGISTRY/$CI_PROJECT_PATH/backend:$TAG ./backend
  only:
    - main

push:
  stage: push
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    - docker build -t $REGISTRY/$CI_PROJECT_PATH/frontend:$TAG ./frontend
    - docker build -t $REGISTRY/$CI_PROJECT_PATH/backend:$TAG ./backend
    - docker push $REGISTRY/$CI_PROJECT_PATH/frontend:$TAG
    - docker push $REGISTRY/$CI_PROJECT_PATH/backend:$TAG
  only:
    - main
