services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: votedb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    environment:
      DB_HOST: postgres
      DB_NAME: votedb
      DB_USER: postgres
      DB_PASSWORD: postgres
    restart: unless-stopped
    ports:
      - "5001:5000"
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
