apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: vote
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: registry.gitlab.com/votre-groupe/vote/backend:latest
        env:
        - name: DB_HOST
          value: postgres
        - name: DB_NAME
          value: votedb
        - name: DB_USER
          value: postgres
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: password
        ports:
        - containerPort: 5000
      imagePullSecrets:
      - name: gitlab-registry
