apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: vote
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: registry.gitlab.com/votre-groupe/vote/frontend:latest
        ports:
        - containerPort: 80
      imagePullSecrets:
      - name: gitlab-registry
