---
- name: Deploy to Kubernetes
  hosts: master
  tasks:
    - name: Copy manifests
      copy:
        src: ../k8s/
        dest: /tmp/k8s/

    - name: Apply manifests
      command: kubectl apply -f /tmp/k8s/
